<h1><%=@fact.title%></h1>
<img src="<%=@fact.image_url%>" alt="fact's image">
<p><%=@fact.description%></p>

<a class="button" href="/categories">Categories</a><br>
<a class="button" href="/account">Account</a>
