<h1>Welcome to Your Account</h1>
<h2>You have <%= @current_user.facts.size %> facts saved </h2>

<label><h4>Facts</h4></label>
<% @current_user.facts.each do |fact| %>
  <a href="/fact/<%=fact.slug%>"><%=fact.title%></a><br>
  <label><%= fact.description%></label><br><br>


<% end %>

<a class="button" href="/categories">Categories</a><br>
<a class="button" href="/account/edit">Edit Account Information</a><br>
<a class="button" href="/fact/delete">Delete Fact</a><br>
