<form action='/categories/:id' method="post">

<label><h4>Categories</h4></label>
<% @categories.each do |category| %>
  <%= category.name %>
  <input type="radio" id="<%=category.id%>" name="category" value="<%=category.id%>"><br>
<% end %>

<br>
<input type="submit" value="Category Page">
<br>
<a class="button" href="/account">Account</a>
