<h1><%=@fact.name%></h1>
<img src="<%=fact.image_url%>" alt="fact's image">
<p><%=@fact.description%></p>

<a class="button" href="/categories">Categories</a>
<a class="button" href="/account">Account</a>
